<?xml version="1.0" encoding="utf-8" ?>
<Environment>

    #init_web
	<Url>http://localhost:3030/signin</Url>
	<Browser>chrome</Browser>
	<RealWorldApp_name_txt>NameTemp</RealWorldApp_name_txt>
	<RealWorldApp_last_name_txt>LastNameTemp</RealWorldApp_last_name_txt>
	<RealWorldApp_user_name_txt>MyUserTemp</RealWorldApp_user_name_txt>
	<RealWorldApp_password_txt>123456</RealWorldApp_password_txt>
    <RealWorldApp_bank_name_txt>Leumi</RealWorldApp_bank_name_txt>
    <RealWorldApp_routing_number_txt>123456789</RealWorldApp_routing_number_txt>
    <RealWorldApp_bank_account_number_txt>987654321</RealWorldApp_bank_account_number_txt>
    <AmountToTransfer>3,500</AmountToTransfer>
    <NoteToTransfer>First Transfer</NoteToTransfer>
    <BaseUser>Tavares_Barrows</BaseUser>
    <BasePassword>s3cret</BasePassword>
    <XMLPath>C:\\Automation\\python\\pythonProject\\final_project_python\\Configurations\\LoginData.xlsx</XMLPath>


   #init_electron
   <electron_app_path>D:\\Electron API Demos-win32-ia32\\Electron API Demos.exe</electron_app_path>
   <electron_driver>C:\\Automation\\electrondriver.exe</electron_driver>

   #init_appium
   <reportDirectory>reports</reportDirectory>
   <reportFormat>xml</reportFormat>
   <testName>Untitled</testName>
   <appPackage>com.financial.calculator</appPackage>
   <udid>d030a260</udid>
   <appActivity>.FinancialCalculators</appActivity>
   <platformNameAppium>android</platformNameAppium>
   <server_appium>http://localhost:4723/wd/hub</server_appium>


    #init_desktop
    <desired_caps>Microsoft.WindowsCalculator_8wekyb3d8bbwe!App</desired_caps>
    <platformName>Windows</platformName>
    <deviceName>WindowsPC</deviceName>
    <server>http://127.0.0.1:4723</server>
    <expected_add>התצוגה היא 3</expected_add>
    <expected_minus>התצוגה היא 2</expected_minus>
    <expected_mult>התצוגה היא 5</expected_mult>


    #init_api
    <base_url>http://localhost:3000/posts</base_url>
    <user_Id>25</user_Id>
    <id></id>
    <title>title</title>
    <body>body</body>
    <id_for_delete>/100</id_for_delete>

</Environment>